 <%= form_for(@question) do |f| %>
 <% if @question.errors.any? %>
 <div id="errorExplanation">
    <h2><%= pluralize(@question.errors.count, "error") %> prohibited this post from being saved:</h2>
    <ul>
      <% @question.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
  <% end %>

    <div class="field">
    <%= f.label :title %>: 
    <%= f.text_field :title %><br />
  </div>
  <div class="field">
    <%= f.label :text %>:
<<<<<<< HEAD
    <%= f.text_area :text, :size => '40x5' %><br />
=======
    <%= f.text_area :text,  :rows => 5 %><br />
>>>>>>> 4b56cecab431916a297363a057ffa127a4532764
  </div>
    <div class="actions">
    <%= f.submit %>
  </div>
  <% end %>
